.container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.imgContainer {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.containerLike {
  min-width: 70px;
  margin-left: 5px;
}

.img {
  border-radius: 5px;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentInfo {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 24px;
}

.nbrLikes {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
}

.heart {
  margin-left: 5px;
}

/* video */

.video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}
